Downloads/itchh-main/itchh-main/n8n/benefit_quest_agent.json
{
    "name": "Benefit Quest — Zynd AI Agent (Pay + Search)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "zynd-agent",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-trigger",
            "name": "Zynd Agent Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                340
            ],
            "webhookId": "zynd-agent-webhook"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "create_transaction",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "create_transaction"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "verify_payment",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "verify_payment"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "search_schemes",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "search_schemes"
                        }
                    ]
                },
                "options": {}
            },
            "id": "router",
            "name": "Action Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                480,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// ===== ZYND PAY: CREATE TRANSACTION =====\n// Receives: { action, playerEmail, pack: { id, name, tokens, price } }\nconst body = $input.first().json.body;\nconst { playerEmail, pack } = body;\n\nif (!playerEmail || !pack) {\n  return [{ json: { success: false, error: 'Missing playerEmail or pack' } }];\n}\n\n// Generate a cryptographically-styled transaction ID\nconst txId = 'ZYND_TX_' + Math.random().toString(36).substr(2, 9).toUpperCase();\nconst timestamp = Date.now();\n\n// Build payment URL (in production, redirect user here)\nconst paymentUrl = `https://pay.zynd.io/checkout?tx=${txId}&amount=${pack.price}&email=${encodeURIComponent(playerEmail)}`;\n\nconst transaction = {\n  id: txId,\n  amount: pack.price,\n  tokensPaid: pack.tokens,\n  status: 'pending',\n  timestamp: timestamp,\n  purpose: `Advisory Token Pack: ${pack.name}`,\n  paymentUrl: paymentUrl,\n  playerEmail: playerEmail,\n  packId: pack.id\n};\n\nconsole.log(`[ZyndPay] Transaction created: ${txId} for ${playerEmail} — ${pack.name} (₹${pack.price})`);\n\nreturn [{ json: { success: true, transaction } }];\n"
            },
            "id": "create-tx",
            "name": "Create Transaction",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                180
            ]
        },
        {
            "parameters": {
                "jsCode": "// ===== ZYND PAY: VERIFY PAYMENT =====\n// Receives: { action, transactionId, playerEmail, packTokens }\nconst body = $input.first().json.body;\nconst { transactionId, playerEmail, packTokens } = body;\n\nif (!transactionId) {\n  return [{ json: { success: false, verified: false, error: 'Missing transactionId' } }];\n}\n\n// Simulate payment gateway webhook signature verification\n// In production: validate HMAC-SHA256 signature from Zynd Pay callback\nconst isValidSignature = transactionId.startsWith('ZYND_TX_');\n\n// Simulate ~95% success rate (real gateway would check bank/UPI confirmation)\nconst isConfirmed = Math.random() < 0.95;\n\nconst verified = isValidSignature && isConfirmed;\n\nconsole.log(`[ZyndPay] Verification for ${transactionId}: ${verified ? 'SUCCESS' : 'FAILED'}`);\n\nconst result = {\n  verified,\n  transactionId,\n  playerEmail,\n  tokensToCredit: verified ? parseInt(packTokens || '0') : 0,\n  verifiedAt: Date.now(),\n  gatewayRef: verified ? `GW_${Math.random().toString(36).substr(2, 8).toUpperCase()}` : null,\n  message: verified\n    ? `Payment confirmed. ${packTokens} Advisory Tokens credited to ${playerEmail}.`\n    : 'Payment verification failed. Please retry or contact Zynd Support.'\n};\n\nreturn [{ json: { success: verified, result } }];\n"
            },
            "id": "verify-tx",
            "name": "Verify Payment",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                340
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are the Zynd Search AI — a specialized government welfare scheme discovery agent for India.\n\nThe player is searching for welfare schemes based on the following context:\n- Player Query: {{ $json.body.query }}\n- Player State/Sector: {{ $json.body.playerState }}\n- Player Role: {{ $json.body.playerRole }}\n- Player Income Level: {{ $json.body.incomeLevel }}\n\nYour task:\n1. Search for the most relevant central and state government welfare schemes matching this query.\n2. For each scheme found, provide:\n   - Scheme name (official)\n   - Ministry / Department\n   - Eligibility criteria (simplified)\n   - Key benefits (in ₹ or kind)\n   - How to apply (portal/offline)\n   - Expected approval time\n   - Relevance score (0-100) for this specific player profile\n\n3. Also analyze: Is this player likely to be APPROVED or REJECTED based on their profile? Give a probability percentage.\n\n4. Suggest the top 3 schemes most likely to benefit this player.\n\nRespond in valid JSON format:\n{\n  \"schemes\": [\n    {\n      \"name\": \"...\",\n      \"ministry\": \"...\",\n      \"eligibility\": \"...\",\n      \"benefits\": \"...\",\n      \"applyAt\": \"...\",\n      \"approvalTime\": \"...\",\n      \"relevanceScore\": 85,\n      \"approvalProbability\": 72\n    }\n  ],\n  \"topRecommendations\": [\"...\", \"...\", \"...\"],\n  \"playerInsight\": \"Brief analysis of player's eligibility position\",\n  \"actionPlan\": \"Step-by-step next actions for the player\"\n}\n",
                "options": {
                    "systemMessage": "You are Zynd Search AI, a specialized welfare scheme discovery engine for the Government of India. You have deep knowledge of all central and state welfare schemes including PM-KISAN, PM Awas Yojana, MGNREGS, PM Jan Dhan Yojana, Pradhan Mantri Fasal Bima Yojana, Ayushman Bharat, and hundreds more. Always respond in valid JSON format."
                }
            },
            "id": "search-agent",
            "name": "Zynd Search AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                720,
                500
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-flash",
                "options": {
                    "temperature": 0.3,
                    "maxOutputTokens": 2048
                }
            },
            "id": "gemini-model",
            "name": "Google Gemini 1.5 Flash",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                840,
                620
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "gemini-creds",
                    "name": "Google Gemini (Zynd AI)"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond-pay-create",
            "name": "Respond: Pay Created",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                960,
                180
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond-pay-verify",
            "name": "Respond: Pay Verified",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                960,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse the AI agent output into clean JSON\nconst agentOutput = $input.first().json.output || $input.first().json.text || '';\n\nlet parsed = {};\ntry {\n  // Extract JSON from the response (agent might wrap it in markdown)\n  const jsonMatch = agentOutput.match(/```json\\n([\\s\\S]*?)\\n```/) || agentOutput.match(/({[\\s\\S]*})/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  } else {\n    parsed = JSON.parse(agentOutput);\n  }\n} catch (e) {\n  parsed = {\n    schemes: [],\n    topRecommendations: [],\n    playerInsight: agentOutput,\n    actionPlan: 'Could not parse response. Please retry.',\n    error: e.message\n  };\n}\n\nconsole.log(`[ZyndSearch] Returning ${parsed.schemes?.length || 0} schemes`);\n\nreturn [{ json: { success: true, searchResults: parsed } }];\n"
            },
            "id": "parse-search",
            "name": "Parse Search Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                960,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond-search",
            "name": "Respond: Search Results",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                500
            ]
        },
        {
            "parameters": {
                "jsCode": "// Log all transactions for audit trail\nconst body = $input.first().json.body || {};\nconst timestamp = new Date().toISOString();\n\nconsole.log(`[ZyndAudit] ${timestamp} | Action: ${body.action} | Player: ${body.playerEmail || 'unknown'}`);\n\n// Pass through unchanged\nreturn $input.all();\n"
            },
            "id": "audit-log",
            "name": "Audit Logger",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                360,
                340
            ]
        }
    ],
    "connections": {
        "Zynd Agent Webhook": {
            "main": [
                [
                    {
                        "node": "Audit Logger",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Audit Logger": {
            "main": [
                [
                    {
                        "node": "Action Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action Router": {
            "main": [
                [
                    {
                        "node": "Create Transaction",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Verify Payment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Zynd Search AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Transaction": {
            "main": [
                [
                    {
                        "node": "Respond: Pay Created",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify Payment": {
            "main": [
                [
                    {
                        "node": "Respond: Pay Verified",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Zynd Search AI Agent": {
            "main": [
                [
                    {
                        "node": "Parse Search Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Search Results": {
            "main": [
                [
                    {
                        "node": "Respond: Search Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini 1.5 Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "Zynd Search AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "staticData": null,
    "tags": [
        "benefit-quest",
        "zynd-pay",
        "zynd-search",
        "hackathon"
    ],
    "triggerCount": 1,
    "updatedAt": "2026-02-22T00:00:00.000Z",
    "versionId": "1"
}